body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: rgb(123, 194, 166);
  border-bottom: 1px solid black;
  text-transform: uppercase;
  color: white;
}

.header h1 {
  margin-bottom: 0;
}

.content {
  background-color: rgb(238, 238, 238);
}

.content h4 {
  margin-top: 0;
}

.content .titles, .content .group {
  padding-top: 1em;
}

.titles {
  border-right: solid black 1px;
}

.all-bills-title {
  padding-bottom: 1em;
}

.bills {
  min-height: 400px;
  background-color: white;
  margin-bottom: 1em;
}

.bill {
  border-bottom: solid #999 1px;
}

.bill:hover {
  background-color: #eee;
  cursor: pointer;
}

.group {
  height: 100%;
}

footer {
  text-align: center;
  margin-top: 2rem;
}
footer .heart {
  color:#cf2e31;
}
